<server description="Sample Liberty server">

  <featureManager>
      <feature>microprofile-2.1</feature>
      <feature>jndi-1.0</feature>
      <feature>websocket-1.1</feature>
      <feature>mongodb-2.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

  <mongo id="com.ibm.hybrid.cloud.sample.stocktrader.tradehistory.mongo" libraryRef="MongoLib" />
  <mongoDB jndiName="com.ibm.hybrid.cloud.sample.stocktrader.mongo/testdb" mongoRef="com.ibm.hybrid.cloud.sample.stocktrader.tradehistory.mongo" databaseName="db-test" />

  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

  <webApplication name="tradeHistory" location="${app.location}"/>

</server>
